body{
    font-family: 'Courier New', Courier, monospace;
}

.main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    max-width: 200px;
    margin: 0 auto;
    gap: 10px;
}